.container{
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: absolute;
}

.close-button{
  background-color: darkblue;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 5px 7px;
  position: absolute;
  font-weight: bold;
  top: 10%;
  right: 10%;
}