:root {
  --blue: #2498FE;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  align-items: center;
  background-color: #463F87;
  display: flex;
  justify-content: space;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 30%;
}
